body{
    height: 1000px;
}
//헤더
#header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.90);
    backdrop-filter: blur(40px);
    height: 100px;
    display: flex;
    align-items: center;
    z-index: 999;
    > .inner {
        position: relative;
        display: flex;
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        padding: 0px 48px;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
        align-self: stretch;
    }
    .down-wrap{
        display: flex;
        flex-direction: row;
        justify-items: flex-end;
        gap: 16px;
    }
    .logo{
        display: flex;
        gap: 8px;
        align-items: flex-end;
    }
}

.contnents-container{
    position: relative;
    > .inner{
        position: relative;
        padding-top: 100px;
    }
}

//메인 비쥬얼 섹션
.mainvisual-container{
    position: relative;
    width: 1440px;
    margin: 0 auto;
    height: 640px;
    border-radius: 40px;
    box-sizing: border-box;
    overflow: hidden;
    background: var(--gray900);
    > .inner{
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .txt-container{
        position: relative;
        padding-left: 100px;
        z-index: 2;
        > hr {
            border: 0;
            width: 84px;
            height: 1px;
            background: #fff;
            margin: 0;
        }
        > .title-wrap {
            position: relative;
            padding-bottom: 48px;
            > h2 {
                color: #FFF;
                font-size: 48px;
                font-weight: 500;
                line-height: 1.3em;
                letter-spacing: -0.48px;
                > b {
                    color: var(--primary);
                }
            }
        }
        .down-wrap{
            position: relative;
            margin-top: 40px;
            > p {
                color: #FFF;
                font-size: 18px;
                font-weight: 300;
                line-height: 1.4em;
                letter-spacing: -0.36px;
            }
            > ul {
                margin-top: 16px;
                display: flex;
                flex-direction: row;
                gap: 16px;
            }
        }
    }
    .visual-wrap{
        position: absolute;
        top:0;
        right: 0;
        width: 838px;
        height: 100%;
        overflow: hidden;
        z-index: 1;
        background-image: url('../images/mv_phone.png');
        background-repeat: no-repeat;
        background-position: top -600px left -180px;
    }
}
//섹션 공통
.section{
    position: relative;
    width: 100%;
    > .inner {
        position: relative;
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
    }   
}
//섹션01
.section01{
    margin-top: 120px;
    padding-bottom: 100px;
    .title-wrap{
        width: 100%;
        text-align: center;
        > p {
            color: var(--gray500);
            font-size: 32px;
            font-weight: 400;
            line-height: 140%;
        }
        > h2 {
            color: var(--gray900);
            font-size: 42px;
            font-weight: 700;
            line-height: 140%; /* 58.8px */
        }
    }
    .circle-wrap{
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 86px;
        .circle{
            position: relative;
            width: 642px;
            height: 642px;
            background: var(--gray150);
            box-shadow: 0px 4px 10px 0px rgba(186, 186, 186, 0.25) inset;
            border-radius: 50%;
            overflow: hidden;
            > .phone{
                position: absolute;
                left:50%;
                top:80px;
                transform: translateX(-50%);
                z-index: 9;
            }
        }
        .obj{
            position: absolute;
            z-index: 8;
            &.obj01{
                top:0;
                left: 0;
            }
            &.obj02{
                top:0;
                right: 0;
            }
            &.obj03{
                bottom:0;
                left: 0;
            }
            &.obj04{
                bottom:0;
                right: 0;
            }
        }
    }
}
//섹션02
.section02{
    margin-top: 100px;
    > .inner{
        max-width: 100% !important;
    }
    .sticker-container{
        display: flex;
        justify-content: center;
        padding: 92px 0 181px;
        box-sizing: border-box;
        .sticker-wrap{
            position: relative;
            > .sticker01 {
                position: absolute;
                top:0;
                left: 0;
                transform: rotate(-15deg);
            }
        }
    }
    .mbti-container{
        position: relative;
        background: var(--gray100);
        overflow: hidden;
        padding: 160px 0;
        .mbti-wrap{
            display: flex;
            flex-direction: column;
            gap: 68px;
            .mbti-box{
                display: flex;
                gap: 120px;
                &.top{
                    margin-left: 200px;
                }
                &.bottom{
                    margin-left: 400px;
                }
            }
        }
    }
}

//섹션03
.section03{}